@model IEnumerable<DepartmentHeadCount>


<table class="table table-hover rounded-pill">
    <thead class="thead-light">
    <tr class="btnView">
        <th class="btnView">@Html.DisplayNameFor(model => Model.FirstOrDefault().Department)</th>
        <th class="btnView">@Html.DisplayNameFor(model => Model.FirstOrDefault().CountEmployees)</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr class="btnDelete">
            <td style="color: #ffffff">@Html.DisplayFor(modelItem => item.Department.Name)</td>
            <td style="color: #ffffff;">@Html.DisplayFor(modelItem => item.CountEmployees)</td>
        </tr>
    }
    </tbody>
</table>