<div class="row">
    <div class="col">
        <div class="card-footer text-center" style="background-color: rgba(0,0,0,.25)">
            <button type="submit" class="btn m-1 btnDelete">Delete</button>
            <a class="btn m-1 btnView" asp-page="/Employees/index">Cancel</a>
        </div>
    </div>
</div>