@page "{id}"
@model TestProjectRazor.Pages.Employees.DeleteModel

@{
    ViewBag.Title = "Delete";
    ViewData["ForPartial"] = "Delete";
}

<div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
    <div class="row justify-content-center m-3">
        <div class="col col-lg-8">
            <strong>Are you sure that you want to delete employee?</strong>
        </div>
    </div>
</div>

<form method="post" class="mt-3" enctype="multipart/form-data">
    <input type="hidden" asp-route-id="@Model.Employee.Id">
    <div class="row justify-content-center m-3">
        <div class="col col-lg-8">
            <partial name="Shared/_EmployeeCardPartial" model="@Model.Employee"  view-data="ViewData"/>
        </div>
    </div>
</form>